.pagebackground {
  background-color: #fffbe5;
}

.TwoDArt {
  font-size: larger;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: relative;
  bottom: -100px;
  right: 500px;
}

/* .WebPages{
    font-size:larger;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
    position: relative; 
    bottom: -100px; 
    

} */

#EleTest {
  position: absolute;
}

@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

body {
  font-family: "Rocher";
  /* text-align: center; */
  font-size: 30px;
  /* height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

h1 {
  margin: 0;
}

@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mintSpecialText {
  font-palette: --Mint;
}

/* 
.element {   
    background-color: #16a085;
    color: white;
    width: 500px; 
    height: 300px;
    margin: 300px 20px;
    text-align:center;
    shape-inside: polygon(0 0,  500px 0, 350px 300px, 150px 300px);
    shape-padding: 20px;
    transition: all 2.5s ease; 
    -webkit-clip-path: polygon(0 0,  500px 0, 350px 1500px, 150px 200px);
  } 
 .element2 {
    transform: scale(50);
    shape-inside: polygon(150px 0, 350px 0, 500px 300px, 0px 300px);
      
    color: rgb(255, 238, 0);
   shape-inside: circle(50%, 50%, 50%);
    -webkit-clip-path: circle(50%, 50%, 50%);
     -webkit-clip-path: polygon(150px 0, 350px 0, 500px 300px, 0px 300px);
    
    
  } 
*/
